<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create car</title>
</head>
<body>
<form th:action="@{/car-create}" th:object="${car}" method="post">
    <label for="model">Model</label>
    <input type="text" th:field="*{model}" id="model" placeholder="Model">
    <br/>
    <label for="color">Color</label>
    <input type="text" th:field="*{color}" id="color" placeholder="Color">
    <br/>
    <label for="color">Rented</label>
    <input type="text" th:field="*{rented}" id="rented" placeholder="Rented">
    <br/>
    <label for="color">Plate number</label>
    <input type="text" th:field="*{plate_num}" id="plate_num" placeholder="Plate number">
    <br/>
    <label for="color">Year</label>
    <input type="text" th:field="*{year}" id="year" placeholder="Year">
    <br/>
    <label for="color">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="Price">
    <br/>
    <label for="category">Category</label>
    <select class="form-control" id="category" name="category">
        <option>ECONOM</option>
        <option>STANDART</option>
        <option>LUXURY</option>
    </select>
    <br/>
    <input type="submit" value="Create Car">
</form>
</body>
</html>