<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container ml-auto">
    <h2 th:text="#{header.login}"></h2>
    <div class="alert alert-danger w-25" role="alert" th:if="${param.error}" th:text="#{err.invalid.name.pass}"></div>
    <div class="alert alert-danger w-25" role="alert" th:if="${param.logout}" th:text="#{param.logout}"></div>
    <form method="post" th:action="@{/login}">
        <div class="form-group w-25">
            <label for="name" th:text="#{username}"></label>
            <input class="form-control is-valid" id="name" name="username" required type="text"/>
            <label for="password" th:text="#{password}"></label>
            <input class="form-control is-valid" id="password" name="password" required type="password"/>
        </div>
        <button class="btn btn-primary mt-1" th:text="#{header.login}" type="submit"></button>
    </form>
</div>
</body>
</html>