<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Order Car</title></head>
<body>
<div class="container">
    <h4>Chosen car:</h4>
    <hr>
    <div class="row">
        <div class="col-sm-9">
            <div class="caption">
                <h3 th:text="${car.model}"></h3>
                <h5 th:text="${car.price}"></h5>
            </div>
        </div>
    </div>
    <h4>Your data:</h4>
    <div class="col-sm-9">
        <div class="caption">
            <h3 th:text="${user.name}"></h3>
            <h5 th:text="'Borrowed date range: '+${#dates.format(order.startDate, 'dd.MM.yyyy')}+
                    ' - ' +${#dates.format(order.endDate, 'dd.MM.yyyy')}"></h5>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <p>Click finish to complete process.</p>
    <a th:href="@{/}"><input type="button" class="btn btn-danger" value="Cancel"/></a>
</div>
</body>
</html>