<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="#" th:action="@{/registration}" th:object="${user}" method="post">
    <label for="Name"></label>
    <p><input type="text" th:field="*{Name}" id="Name" placeholder="Name"></p>
    <label for="Passport"></label>
    <p><input type="text" th:field="*{Passport}" id="Passport" placeholder="Passport"></p>
    <label for="Password"></label>
    <p><input type="text" th:field="*{Password}" id="Password" placeholder="Password"></p>
    <label for="Address"></label>
    <p><input type="text" th:field="*{Address}" id="Address" placeholder="Address"></p>
    <label for="Phone"></label>
    <p><input type="text" th:field="*{Phone}" id="Phone" placeholder="Phone"></p>
    <p><input type="submit" value="confirm"></p>
</form>
</body>
</html>