<!DOCTYPE html>
<html lang="en" th:fragment="copy" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car List Standard</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<div class="mx-5">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Model</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col">Year</th>
            <th scope="col">Category</th>
            <th scope="col">Order</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${carList.isEmpty()}">
            <td colspan="2">No cars available</td>
        </tr>
        <tr th:each="car : ${carList}">
            <td><span th:text="${car.model}"></span></td>
            <td><span th:text="${car.color}"></span></td>
            <td><span th:text="'$ ' + ${car.price}"></span></td>
            <td><span th:text="${car.year}"></span></td>
            <td><span th:text="${car.category}"></span></td>
            <td>
                <form action="order" th:action="@{/order/}">
                    <input hidden name="carId" th:value="${car.getId()}">
                    <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
                    <button class="btn btn-primary mt-2" th:text="#{order}" type="submit"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>