<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h2 align="center" th:text="#{order.page}"></h2>
<div class="container my-3">
    <table class="table">
        <thead class="table">
        <tr>
            <th scope="col" th:text="#{car.model}"></th>
            <th scope="col" th:text="#{car.year}"></th>
            <th scope="col" th:text="#{car.price}"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${carById}">
            <td><span th:text="${car.model}"></span></td>
            <td><span th:text="${car.year}"></span></td>
            <td><span th:text="'$ ' + ${car.price}"></span></td>
        </tr>
        </tbody>

        <form th:action="'/order/' + ${carById.id}" th:object="${order}" method="POST">
            <div class="container ml-auto">
                <label for="start_date" th:text="#{date.begin}"></label>
                <input type="date" class="form-control is is-valid" id="start_date" name="startDate">
                <label for="end_date" th:text="#{date.end}"></label>
                <input type="date" class="form-control is is-valid" id="end_date" name="endDate">
                <input type="hidden" class="form-control" name="car_id" th:value="${carById.id}">
                <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
                <button class="btn btn-primary mt-2" th:text="#{order.submit}" type="submit"></button>
            </div>
        </form>
    </table>
</div>
</body>
</html>