<!DOCTYPE html>
<html lang="en" th:fragment="copy" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<div class="mx-5">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Passport</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">E-mail</th>
            <th scope="col">Role</th>

        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:each="user : ${userList}">
            <td><span th:text="${user.id}"></span></td>
            <td><span th:text="${user.username}"></span></td>
            <td><span th:text="${user.passport}"></span></td>
            <td><span th:text="${user.address}"></span></td>
            <td><span th:text="${user.phone}"></span></td>
            <td><span th:text="${user.email}"></span> </td>
            <td><span th:text="${user.roles}"></span></td>

        </tr>
        <td>

                <form method="post"
                      th:action="@{/admin/user/delAdmin}">
                    <input hidden name="userId" th:value="${user .id}">
                    <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
                    <button class="btn btn-danger" th:text="#{del.admin.role}" type="submit"></button>
                </form>


                <form method="post"
                      th:action="@{/admin/user/addAdmin}">
                    <input hidden name="userId" th:value="${user.id}">
                    <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
                    <button class="btn btn-success" th:text="#{add.admin.role}" type="submit"></button>
                </form>

        </tbody>
    </table>
</div>
</body>
</html>